.answers-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px 0 70px 0;
}

.single-answer-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 30px 15px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.no-click {
  cursor: auto;
}

.single-answer-wrapper--hover-class:hover {
  background: RGBA(247, 247, 248, 1);
}

/* .single-answer-wrapper:hover {
  background: RGBA(247, 247, 248, 1);
} */

.answer__radio-button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid RGBA(117, 122, 125, 1);
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.answer__radio-button--select-indicator {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  background: RGBA(117, 122, 125, 1);
  transition: all 0.5s;
  /* opacity: 1; */
  -webkit-backface-visibility: hidden;
}

@keyframes show-indicator-anim {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  75% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hide-indicator-anim {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.show-indicator {
  animation: show-indicator-anim 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.hide-indicator {
  animation: hide-indicator-anim 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  background: RGBA(117, 122, 125, 1);
  margin: 25px auto;
  transition: all 0.5s;
  cursor: pointer;
}

.submit-button--inactive {
  opacity: 0.5;
  cursor: auto;
}

.submit-button--hoverable:hover {
  background: RGBA(145, 149, 151, 1);
}

.fade-out {
  opacity: 0;
}

.checkmark-icon,
.close-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: opacity 0.5s;
  opacity: 0;
  margin-left: 4px;
}

.set-no-display {
  display: none;
}

.checkmark-icon {
  color: RGBA(136, 141, 143, 1);
}

.close-icon {
  color: RGBA(63, 65, 67, 1);
}

.show-with-delay {
  transition-delay: 0.3s;
  opacity: 1;
}

.correct-answer-outline {
  left: 0;
  width: 0;
  height: 90%;
  position: absolute;
  /* background: yellow; */
  opacity: 0;
  transition: all 4.5s ease-in-out;
  border: 2px solid RGBA(112, 112, 112, 1);
}

@keyframes outline-anim {
  0% {
    opacity: 0;
    border-width: 0px;
    border-right: 0px;
  }
  10% {
  }
  50% {
    opacity: 1;
    border-width: 2px;
  }
  60% {
    box-shadow: 0px 0px 0px 0px RGBA(112, 112, 112, 1);
  }
  100% {
    width: 100%;
    border-width: 2px;
    opacity: 1;
    border-right: 2px;
    box-shadow: 2px 0px 0px 0px RGBA(112, 112, 112, 1);
  }
}

.correct-answer-outline-anim {
  animation: outline-anim 0.45s cubic-bezier(0.88, 0.67, 0.06, 0.95);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.answer-response-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.answer-response__result-feedback-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answer-response__result-feedback-wrapper p {
  font-size: 12px;
  font-weight: 700;
  margin-top: 8px;
}

.answer-response__result-feedback--icon-wrapper {
  border: 2px solid RGBA(202, 203, 203, 1);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-response__answer-reinforcement p {
  font-family: 'Merriweather', serif;
  color: rgba(112, 112, 112, 1);
  font-size: 14px;
  font-weight: 300;
}

.answer-response__take-again-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: RGBA(118, 118, 118, 1);
  font-size: 10px;
}

.answer-response__refresh-icon {
  transform: rotate(200deg) scaleX(-1);
  color: RGBA(118, 118, 118, 1);
}
