body {
  /* font-family: 'Merriweather', serif; */
  font-family: 'Lato', sans-serif;
}

.knowledge-check-wrapper {
  max-width: 760px;
  border: 1px solid RGBA(221, 221, 221, 1);
  box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
  margin: 60px auto;
  box-sizing: border-box;
  padding: 45px;
  width: 90%;
}

.question__wrapper {
  width: 100%;
  border-bottom: 1px solid RGBA(234, 234, 235, 1);
  font-family: 'Merriweather', serif;
  font-size: 17px;
  /* margin: 5px 0; */
}

.question__wrapper p {
  padding: 10px 0;
}

.question__image-wrapper {
  width: 100%;
  margin: 15px 0;
}

.question__image-wrapper img {
  width: 100%;
  height: auto;
}
